* {
    font-family: arial, sans-serif;
}

body {
    margin: 0;
    background-color: #202124;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

app {
    display: flex;
    width: 652px;
    height: 360px;
}

input {
    border: 1px solid #818588;
    border-radius: 8px;
    box-sizing: border-box;
    color: #bdc1c6;
    font-size: 14px;
    height: 48px;
    background-color: transparent;
    width: 100%;
}

.output, .input {
    display: flex;
    flex-direction: column;
    width: 300px;
}

textarea{
    background-color: transparent;
    color: #bdc1c6;
    border: none;
    resize: none;
    padding: 18px;
    width: 200px !important;
    height: 146px;
    border-radius: 18px;
    outline: none;
    overflow: auto;
    font-size: 28px;
    margin-top: 18px;
}

